*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: skyblue;
}
#right{
  position: absolute;
  top: 50px;
  right: 3%;
}
#right a{
  font-size: 20px;
  outline: none;
  text-decoration: none;
  padding: 15px 25px;
  border-radius: 30px;
  font-weight: 700;
  color: black;
  background: white;
  border: 2px solid white;
}
#right a:hover{
  border: 2px solid black;
  transition: 0.5s;
}
.bg{
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box{
  border: 2px solid black;
  padding: 50px;
  border-radius: 25px;
}
#id, label{
  font-size: 25px;
}
#id{
  background: none;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
}
#input{
  padding: 10px 20px;
  border-radius: 25px;
  margin-top: 50px;
  margin-left: 37%;
  font-size: 25px;
  cursor: pointer;
  background: none;
  border: 2px solid black;
}
#input:hover{
  background: orange;
  color: white;
  transition: 0.3s;
  border: 2px solid white;
}
.error{
  padding: 10px;
  color: red;
}