*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav{
  margin: 20px 0px 20px 0px;
  width: 100%;
  background: rgb(33, 28, 42);
  text-align: center;
  color: white;
  padding: 10px;
  font-size: 40px;
}