.para{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  top: 25%;
  left: 50%;
  width: 700px;
}
.para p{
  font-size: 25px;
  padding: 5px;
  text-align: center;
  font-weight: 400;
}
.para h1{
  text-align: center;
  font-size: 40px;
}